@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;

    --chart-1: 220, 70%, 50%;
    --chart-2: 340, 75%, 55%;
    --chart-3: 30, 80%, 55%;
    --chart-4: 160, 60%, 45%;
    --chart-5: 280, 65%, 60%;
  }
}